.character-preview-button {
    border-radius: 100%;
    font-weight: bold;
    font-size: 3rem;
    height: 150px;
    width: 150px;
    margin-bottom: 1rem;
    background-size: cover;
    font-size: 1.5rem;
}

.character-preview-button:hover {
    background-blend-mode: multiply;
    background-color: #357496;
    color: white;
}

/* Mobile resizing adjustments */
@media(max-width: 660px) {
    .character-preview-button {
        font-size: 0.8rem;
        height: 5rem;
        width: 5rem;
        margin-bottom: 1rem;
    }
}