form{
    filter: drop-shadow(0 13px 4px rgba(0, 0, 0, 0.25));
    height: 45.063rem;
    width: 36.5rem;
    border-radius: 3rem;
    background-color: white;
}
#form-toggles{
    margin-top: 2rem;
    background-color: #676767;
    border-radius: 3rem 3rem 0 0;
    width: 36.5rem;
    height: 6.688rem;
    padding: 0 5rem;
}

.toggler {
    font-size: 36px;
}

#form-submit-button-containiner{
    padding: 1rem 2rem;
    padding-left: 5rem;
}