.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(47, 99, 158, 0.614);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 950;
}

.deletion-modal {
    background-color: white;
    width: 30rem;
    height: 15rem;
    padding: 3rem;
    border-radius: 1rem;
}


/* Mobile resizing adjustments */
@media(max-width: 660px) {
    .deletion-modal {
        width: 15rem;
        height: 10rem;
        padding: 2rem;
        border-radius: 1rem;
    }
}