#character-details-title{
    color: #1E1E1E;
}
#character-details{
    color: #000000;
}
#character-subname{
    color: rgba(30, 30, 30, 0.32);
}
#character-detail-bg{
    background-color: rgba(60, 82, 139, 0.22);
}