.add-character-button{
    background-color: white;
    color: #3C528B;
    border-radius: 100%;
    font-weight: bold;
    font-size: 3rem;
    height: 150px;
    width:150px;
    margin-bottom: 1rem;
}


/* Mobile resizing adjustments */
@media(max-width: 660px) {
    .add-character-button{
    font-size: 1.5rem;
    height:  5rem;
    width: 5rem;
    margin-bottom: 1rem;
    }
}