#creation-nav{
    width: 25rem;
    height: 50rem;
    border-radius: 0 5rem 5rem 0;
}

h2{
    color: #575757;
}
.directions{
    font-size: 1.5rem;
}
@media(max-width: 660px){
    #creation-nav{
    width: 100%;
    height: 10rem;
    border-radius: 0 5rem 5rem 0;
    padding-left: 1rem;
    }
    .directions{
    font-size: 0.8rem;
    }
}