#creation-nav{
    width: 25rem;
    height: 50rem;
    border-radius: 0 5rem 5rem 0;
}


@media(max-width: 660px){
    #creation-nav{
    width: 100%;
    height: 10rem;
    border-radius: 0 5rem 5rem 0;
    }
}