#character-list-container {
    background-color: rgba(60, 82, 139, 0.22);
    width: 70%;
    min-height: 90vh;
    border-radius: 3rem;
    padding: 3rem;
}

/* Mobile resizing adjustments */
@media(max-width: 660px) {
    #character-list-container {
        width: 70%;
        min-height: 90vh;
        padding:  1rem;
        margin-top: 1rem;
    }
}