#landing-split-container{
    padding: 2rem 8rem;
}
#welcome-message{
    font-size: 50px;
    color: white;
    font-weight: bold;
}
#website-description{
    font-size: 24px;
    color: white;
    font-weight: bold;
}
#charawik-mascot{
    height: 40rem;
}
#credits{
    padding: 0 5rem;
}
#credits p{
    color: rgb(35, 35, 35);
}