html {
    overflow-x: hidden;
}

/* Font */
html body {
    background-color: #8FC9E9;
    font-family: "Inter";
}

h1 {
    font-size: 48px;
    color: #3C528B;
}

h2 {
    font-size: 32px;
    color: white;
}

#username,
#stat #character-name {
    color: #575757;
}

label {
    font-size: 32px;
    color: #575757;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

h3,
p {
    font-size: 24px;
    color: #575757;
}

.active {
    color: #FFDE70;
}

.inactive,
.empty {
    color: #C8C8C8;
}

/* Buttons */

button {
    width: 160px;
    height: 55px;
    border-radius: 80px;
    border: none;
    filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.25));
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.basic {
    background: linear-gradient(#8FC9E9, #5D80D8);
}

.warning {
    background: linear-gradient(#FD8D8D, #D63B3B);
}

.confirm {
    background: linear-gradient(#7CFD87, #22662A);
}

.toggler {
    background-color: transparent;
    filter: none;
}

/* Input Fields */

input,
input:active {
    border-radius: 30px;
    border: none;
    background-color: #c2e6fa;
    width: 26rem;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

input:user-invalid {
    background-color: #e9a78f;
    outline: 2px solid #D63B3B;
}

input:user-valid {
    background-color: #8fe9be;
    outline: 2px solid #43b933;
}


/*Mobile sizing adjustments*/

@media(max-width: 660px) {
    button {
        width: 90px;
        height: 40px;
        font-size: 1rem;
    }

    h1 {
        font-size: 24px;
    }

    h2,
    label,
    h3,
    p {
        font-size: 1rem;
    }

    input,
    input:active {
        width: 15rem;
        height: 2rem;
        margin: 0.15rem 0;
    }
}