/* Font */
html body{
    background-color: #8FC9E9;
    font-family: "Inter";
}

h1 {
    font-size: 48px;
    color: #3C528B;
}

h2 {
    font-size: 32px;
    color: white;
}
#username,#stat #character-name{
 color: #575757;
}

label{
    font-size: 32px;
    color: #575757;
}

h3, p{
    font-size: 24px;
    color: #575757;
}

.active{
    color: #FFDE70;
}
.inactive, .empty{
    color: #C8C8C8;
}

/* Buttons */

button{
    width: 160px;
    height: 55px;
    border-radius: 80px;
    filter: drop-shadow(0 8px 6px rgba(0, 0, 0, 0.25));
    color: black;
}

.basic{
    background: linear-gradient(#8FC9E9, #5D80D8);
}
.warning{
    background: linear-gradient(#FD8D8D,#D63B3B);
}
.confirm{
    background: linear-gradient(#7CFD87,#22662A);
}