#landing-nav{
    width: 90%;
    height: 92px;
    border-radius: 0 0 20px 20px;
    filter: drop-shadow(-4px 10px 7.5px rgba(0, 0, 0, 0.25));
}
#title{
    font-weight:normal;
}
#title:hover{
    color: #58a9cf;
}
#subtitle{
    font-size: 24px;
    font-weight:400;
    color: #c5cde1;
}