#notfound-error-page {
    font-size: 2rem;
    padding-top: 12rem;
}

#notfound-error-title {
    color: rgb(15, 15, 15);
    font-size: 5rem;
}

#notfound-error-subtitle {
    font-size: 3rem;
    color: rgb(25, 45, 133);
}

#notfound-error-subtext {
    color: rgb(15, 15, 15);
    font-size: 1.25rem;
}

#notfound-error-button {
    border-radius: 0.5rem;
    background-color: rgb(163, 0, 0);
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
}

#notfound-error-button:hover {
    transform: scale(1.1);
}